<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head">
            <title th:utext="${title}">Home</title>
        </div>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="container-fluid">
            <div class="row">
                <!-- Menu Lateral -->
                <div class="col-2 p-0">
                    <div th:replace="fragments/menu-lateral :: menu-lateral"></div>
                </div>

                <!-- Conteúdo Principal -->
                <div class="col-10 p-4">
                    <h4>Bem-vindo, Carlos!</h4>
                    <hr>
                    <!-- Aqui você coloca o restante da página -->
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
